@page
@model BankRPSSQL.Pages.ShowBalancesModel
@{
    ViewData["Title"] = "ShowBalances";
}

<h2>Saving and Checking Balances</h2>
<h3>Checking Balance : @Model.CheckingBalance</h3>
<h3>Saving Balance : @Model.SavingBalance</h3>